// Colores

$transparente: #0000;
$negro: #000;
$blanco: #fff;
$lila: #30b;
$rosa: #f0a;
$fucsia: #302;
$oscuro: #102c;
$azul: #09f;

// Fuentes

$Imagine: "Imagine";

@font-face {
    font-family: $Imagine;
    src: url('Font/Imagine_Font.ttf');
}

// Estilos generales

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;

    body {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: $negro;
        overflow: hidden;

        // Fondo

        #fondo {
            width: 100%;
            height: 100%;

            .barras {
                width: 100px;
                height: 100%;
                transform: skewX(160deg);
                position: absolute;
                z-index: 0;
            }

            .filas {
                width: 100%;
                height: 50px;
                position: absolute;
                top: 0px;
                transform: skewY(-10deg);
                z-index: -1;
            }

            // Animacion fondo

            @for $i from 1 to 10 {
                $posicionBarras: $i * 200 - 300;
                $posicionFilas: $i * 100 - 150;
                $delay: $i * 100 - 100;

                #barra#{$i} {
                    left: #{$posicionBarras}px;
                    z-index: $i - 10;
                }

                #fila#{$i} {
                    top: #{$posicionFilas}px;
                    z-index: $i - 20;
                }

                #barra#{$i}, #fila#{$i} {
                    animation: animacionColores#{$i} 1000ms;
                    animation-delay: #{$delay}ms;
                    animation-iteration-count: infinite;
                }

                @keyframes animacionColores#{$i} {
                    0% {
                        background-color: $fucsia;
                        box-shadow: 0px 0px 20px $fucsia;
                    }

                    50% {
                        background-color: $oscuro;
                        box-shadow: 0px 0px 20px $oscuro;
                    }

                    100% {
                        background-color: $transparente;
                        box-shadow: 0px 0px 0px $transparente;
                    }
                }
            }

            @media (max-width: 1400px) {
                .barras {
                    width: 75px;
                    transform: skewX(160deg);
                    position: absolute;
                    z-index: 0;
                }
    
                .filas {
                    width: 100%;
                    height: 50px;
                    position: absolute;
                    top: 0px;
                    transform: skewY(-10deg);
                    z-index: -1;
                }
    
                // Animacion fondo
    
                @for $i from 1 to 10 {
                    $posicionBarras: $i * 170 - 200;
                    $posicionFilas: $i * 100 - 150;
                    $delay: $i * 100 - 100;
    
                    #barra#{$i} {
                        left: #{$posicionBarras}px;
                        z-index: $i - 10;
                    }
    
                    #fila#{$i} {
                        top: #{$posicionFilas}px;
                        z-index: $i - 20;
                    }
                }
            }

            @media (max-width: 1250px) {
                .barras {
                    width: 50px;
                    transform: skewX(160deg);
                    position: absolute;
                    z-index: 0;
                }
    
                .filas {
                    width: 100%;
                    height: 50px;
                    position: absolute;
                    top: 0px;
                    transform: skewY(-10deg);
                    z-index: -1;
                }
    
                // Animacion fondo
    
                @for $i from 1 to 10 {
                    $posicionBarras: $i * 150 - 200;
                    $posicionFilas: $i * 100 - 150;
                    $delay: $i * 100 - 100;
    
                    #barra#{$i} {
                        left: #{$posicionBarras}px;
                        z-index: $i - 10;
                    }
    
                    #fila#{$i} {
                        top: #{$posicionFilas}px;
                        z-index: $i - 20;
                    }
                }
            }

            @media (max-width: 1060px) {
                .barras {
                    width: 80px;
                    transform: skewX(145deg);
                    position: absolute;
                    z-index: 0;
                }
    
                .filas {
                    width: 100%;
                    height: 50px;
                    position: absolute;
                    top: 0px;
                    transform: skewY(-10deg);
                    z-index: -1;
                }
    
                // Animacion fondo
    
                @for $i from 1 to 10 {
                    $posicionBarras: $i * 150 - 275;
                    $posicionFilas: $i * 100 - 150;
                    $delay: $i * 100 - 100;
    
                    #barra#{$i} {
                        left: #{$posicionBarras}px;
                        z-index: $i - 10;
                    }
    
                    #fila#{$i} {
                        top: #{$posicionFilas}px;
                        z-index: $i - 20;
                    }
                }
            }

            @media (max-height: 700px) {
    
                .filas {
                    width: 100%;
                    height: 50px;
                    position: absolute;
                    top: 0px;
                    transform: skewY(-10deg);
                    z-index: -1;
                }
    
                @for $i from 1 to 10 {
                    $posicionFilas: $i * 90 - 150;
    
                    #fila#{$i} {
                        top: #{$posicionFilas}px;
                        z-index: $i - 20;
                    }
                }
            }
        }

        // Caja del juego

        #juego {
            display: grid;
            grid-template-rows: 1fr 2fr 1fr;
            width: 0px;
            height: 0px;
            background-color: #0009;
            color: $lila;
            text-align: center;
            position: absolute;
            font-size: 0px;
            font-family: $Imagine;
            border-radius: 20px;
            animation: animacionInicial 1000ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;

            #contenedorBotones {
                display: flex;
                grid-template-columns: repeat(3, 1fr);
                width: 50%;
                height: 100%;
                justify-self: center;
                justify-content: center;

                #botonEmpezar {
                    width: 200px;
                    height: 75px;
                    display: flex;
                    align-self: center;
                    justify-content: center;
                    font-size: 40px;
                    line-height: 62px;
                    transition: box-shadow 300ms;
                    cursor: pointer;

                    p {
                        position: absolute;
                    }
                }

                #botonEmpezar:hover {
                    background-color: $negro;
                    box-shadow: 4px 4px 0px 0px #30b, 8px 8px 0px 0px #30bb, 12px 12px 0px 0px #30b7, 16px 16px 0px 0px #30b3;
                }

                .botones {
                    width: 50px;
                    height: 50px;
                    background-color: $negro;
                    border: 1px solid $lila;
                    cursor: pointer;
                }

                .botones:hover {
                    border: 1px solid $azul;
                }
            }

            #footer {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        @keyframes animacionInicial {
            0% {
                transform: rotateY(0deg);
                width: 0px;
                height: 0px;
                font-size: 0px;
                box-shadow: 0px 0px 1px $lila, 0px 0px 1px $lila inset;
            }

            100% {
                transform: rotateY(720deg);
                width: 500px;
                height: 500px;
                font-size: 50px;
                border: none;
                box-shadow: 0px 0px 20px $lila, 0px 0px 20px $lila inset;
            }
        }

        @media (max-width: 1000px) {
            @keyframes animacionInicial {
                0% {
                    transform: rotateY(0deg);
                    width: 0px;
                    height: 0px;
                    font-size: 0px;
                    box-shadow: 0px 0px 1px $lila, 0px 0px 1px $lila inset;
                }
    
                100% {
                    transform: rotateY(720deg);
                    width: 350px;
                    height: 350px;
                    font-size: 30px;
                    border: none;
                    box-shadow: 0px 0px 20px $lila, 0px 0px 20px $lila inset;
                }
            }
        }

        #taparPantalla {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
    }
}